/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test,
    covering taxonomy derived from --refseqfile FASTA headers (no --taxonomy given).

    Use as follows:
        nextflow run nf-core/phyloplace -profile test_embedded_taxonomy,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Embedded taxonomy test profile'
    config_profile_description = 'Minimal test dataset to check taxonomy derived from --refseqfile FASTA headers'

    // Input data. Same reference alignment and tree as the default test profile, but
    // refseqfile's headers carry taxonomy directly and no --taxonomy is given.
    queryseqfile = params.pipelines_testdata_base_path + "phyloplace/testdata/PF14720_3_sequences.faa"
    refseqfile   = params.pipelines_testdata_base_path + "phyloplace/testdata/PF14720_seed_embedded_taxonomy.alnfaa"
    refphylogeny = params.pipelines_testdata_base_path + "phyloplace/testdata/PF14720_seed.ft.LGCAT.newick"
    model        = "LG"
}
