/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phyloplace -profile test_gzipped,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for gzipped input'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // Every file parameter is gzipped, so one run covers the whole set. MAFFT and EPA-NG's
    // tree reader both need the pipeline to decompress for them, and so does gappa's
    // taxon file -- the rest of the chain reads gzip natively.
    queryseqfile = params.pipelines_testdata_base_path + "phyloplace/testdata/gzipped/PF14720_3_sequences.faa.gz"
    refseqfile   = params.pipelines_testdata_base_path + "phyloplace/testdata/gzipped/PF14720_seed.alnfaa.gz"
    refphylogeny = params.pipelines_testdata_base_path + "phyloplace/testdata/gzipped/PF14720_seed.ft.LGCAT.newick.gz"
    taxonomy     = params.pipelines_testdata_base_path + "phyloplace/testdata/gzipped/PF14720_seed.taxonomy.tsv.gz"
    alignmethod  = 'mafft'
    model        = "LG"
}
