/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/phyloplace -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Although this is relatively full scale (just 10 query sequences, but I believe this is quite linear, the tree is large), it doesn't take so much resources
    max_cpus   = 2
    max_memory = '12.GB'
    max_time   = '6.h'

    // Input data for full size test
    id           = 'test_full'
    queryseqfile = 'https://github.com/nf-core/test-datasets/raw/phyloplace/testdata/queries.faa'
    refseqfile   = 'https://github.com/nf-core/test-datasets/raw/phyloplace/testdata/reference.alnfaa'
    refphylogeny = 'https://github.com/nf-core/test-datasets/raw/phyloplace/testdata/reference.newick'
    model        = 'LG+F'
}
